@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">@ViewData["Acceso Denegado"]</h2>
    <p class="alert alert-danger">Acceso Denegadgo</p>
    <p class="text-danger">no tiene permitido ver esta sección, vaya al menú Seguro médico en la parte superior del sistema o de clic <a asp-controller="SeguroMedicoes" asp-action="Index">aquí</a>.</p>
</header>
